[submodule "llvm-project"]
	path = ThirdParty/llvm
	url = https://github.com/llvm/llvm-project.git
	branch = release/9.x
[submodule "tbb_clang"]
	path = ThirdParty/tbb
	url = https://github.com/wjakob/tbb.git
[submodule "pugixml"]
	path = ThirdParty/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "blamlib"]
	path = Framework/blamlib
	url = https://github.com/Assault-on-the-Control-Room/blamlib.git
[submodule "blamder"]
	path = Tooling/Blender/blamder/blamder
	url = https://github.com/Assault-on-the-Control-Room/blamder.git
