[submodule "pugixml"]
	path = thirdparty/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "discord-rpc"]
	path = thirdparty/discord-rpc
	url = https://github.com/ChimpsAtSea/discord-rpc.git
[submodule "thirdparty/imgui/imgui"]
	path = thirdparty/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/iconfontcppheaders"]
	path = thirdparty/iconfontcppheaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "thirdparty/oozle"]
	path = thirdparty/oozle
	url = https://github.com/ChimpsAtSea/Oozle.git
[submodule "thirdparty/murmur3"]
	path = thirdparty/murmur3
	url = https://github.com/ChimpsAtSea/murmur3.git
[submodule "thirdparty/directx-headers"]
	path = thirdparty/directx-headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "thirdparty/xatlas"]
	path = thirdparty/xatlas/xatlas
	url = https://github.com/ChimpsAtSea/xatlas.git
[submodule "thirdparty/d3d12raytracingfallback/d3d12raytracingfallback"]
	path = thirdparty/d3d12raytracingfallback/d3d12raytracingfallback
	url = https://github.com/ChimpsAtSea/D3D12RaytracingFallback.git
[submodule "thirdparty/ninja"]
	path = thirdparty/ninja/ninja
	url = https://github.com/ChimpsAtSea/ninja.git
[submodule "thirdparty/ffmpeg"]
	path = thirdparty/ffmpeg/ffmpeg
	url = https://github.com/ChimpsAtSea/FFmpeg.git
[submodule "thirdparty/gn/gn"]
	path = thirdparty/gn/gn
	url = https://github.com/ChimpsAtSea/gn.git
[submodule "thirdparty/yasm"]
	path = thirdparty/yasm/yasm
	url = https://github.com/yasm/yasm.git
[submodule "thirdparty/directxtex/directxtex"]
	path = thirdparty/directxtex/directxtex
	url = https://github.com/ChimpsAtSea/DirectXTex.git
[submodule "thirdparty/assimp/assimp"]
	path = thirdparty/assimp/assimp
	url = https://github.com/ChimpsAtSea/assimp.git
[submodule "thirdparty/directxmesh/directxmesh"]
	path = thirdparty/directxmesh/directxmesh
	url = https://github.com/ChimpsAtSea/DirectXMesh.git
[submodule "thirdparty/xxhash/xxhash_cx"]
	path = thirdparty/xxhash/xxhash_cx
	url = https://github.com/ChimpsAtSea/xxhash_cx.git
[submodule "thirdparty/xxhash/xxhash"]
	path = thirdparty/xxhash/xxhash
	url = https://github.com/ChimpsAtSea/xxHash.git
