[submodule "tbb_clang"]
	path = ThirdParty/tbb
	url = https://github.com/wjakob/tbb.git
[submodule "pugixml"]
	path = ThirdParty/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "blamlib"]
	path = Framework/blamlib
	url = https://github.com/Assault-on-the-Control-Room/blamlib.git
[submodule "discord-rpc"]
	path = ThirdParty/discord-rpc
	url = https://github.com/Assault-on-the-Control-Room/discord-rpc.git
[submodule "ThirdParty\\vcpkg\\vcpkg"]
	path = ThirdParty\\vcpkg\\vcpkg
	url = https://github.com/Microsoft/vcpkg.git
